.App {
  text-align: center;
  background-size: cover;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #kudaseahorse
{
  width: 14%;
  rotate: 4deg;
  position: absolute;
  top: 400px;
  left: 750px;

  animation-name: kudaseahorse;
  animation-duration: 6s;
  animation-direction: alternate;

  transition: ease-in-out .2s;
}

#kudaseahorse:hover
{
  cursor: pointer;
  filter: brightness(80%);
}

@keyframes kudaseahorse
{
  from
  {
    top: 800px;
    left: 750px;
  }
  to
  {
    top: 400px;
    left: 750px;
  }
} */

/* #fish1
{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 600px;
  top: 100px;

  transition: ease-in-out .2s;
}

#fish1:hover
{
  cursor: pointer;
  filter: brightness(80%);
} */
