.info-box {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.25);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

}

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  background-color: white;
  margin: 300px 0;
  padding: 20px 0px 20px 0px;
  overflow: auto;
}

.close-button {
  cursor: pointer;
  border: 1px solid #999; 
  padding: 10px;
  position: fixed;
  right: 5%;
  top: 30px; 
}

.fish {
  cursor: pointer;
  margin: 15% auto;
  padding: 5%;
}

.info-text {
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
  margin: auto;
}

.info-image {
  border-radius: 250px;
}
.App {
  margin: 0;
  border: 0;
}

#fish1
{
  width: 10%;
  height: 10%;
  transition: ease-in-out .2s;
}

#fish1:hover
{
  cursor: pointer;
  filter: brightness(80%);
}

#fish2
{
  width: 10%;
  height: 10%;
  transition: ease-in-out .2s;
}

#fish2:hover
{
  cursor: pointer;
  filter: brightness(80%);
}